@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary: #FF42A5;
    --fontcolor: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --btncolor: #4EC5F7;
    --primaryfont: #3C354F;
}

.navber-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 240px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logocontent {
    font-size: 45px;
    font-weight: 700;
    color: var(--primaryfont);
    margin-left: 15px;
}

.nav-items-container ul {
    display: flex;
    align-items: center;
}

.nav-items-container li {
    list-style: none;
}

.nav-items-container li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primaryfont);
}

.nav-items {
    display: flex;
}

.nav-items li {
    margin-right: 32px;
}

.icon-container {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.icon-container li {
    display: flex;
    padding: 10px;
    align-items: center;
}

.icon img {
    width: 24px;
    margin-left: 10px;
}

/* navber part end */

/* banner part start */
.banner-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.banner-bg {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-subtitle {
    color: var(--primaryfont);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.banner-title {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-item {
    padding-top: 24px;
}

.banner-item p {
    color: var(--primaryfont);
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 17px;
}

.banner-btn {
    gap: 10px;
    display: inline-flex;
    align-items: flex-start;
}

button {
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    border: 0;
}

.primary-btn {
    background-color: var(--primary);
    padding: 21px 40px;
    border-radius: 48px;
}

.sceondary-btn {
    background-color: var(--btncolor);
    padding: 21px 40px;
    border-radius: 48px;
}

.banner-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* banner part end */
/* we gamer part start */
.we-gamer-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.we-gamer-layout {
    display: flex;
    max-width: 100%;
    flex-shrink: 0;
    padding: 0px 240px;
}

.we-gamer-img-container {
    padding: 55px 240px;
}

.gamer-img {
    width: 868px;
    height: 489px;
    flex-shrink: 0;
}

.we-gamer-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.we-gamer-content {
    text-align: end;
}

.we-gamer-title {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-gamer-description {
    color: var(--primaryfont);
    font-size: 1.3em;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 0 32px;
}

.purpose {
    color: var(--primaryfont);
    font-size: 1.5em;
    font-weight: 500;
    line-height: 45px;
}

.unleash {
    color: var(--primaryfont);
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}

/* we gamer part end */