@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary: #FF42A5;
    --fontcolor: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --btncolor: #4EC5F7;
    --primaryfont: #3C354F;
}

.navber-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 240px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logocontent {
    font-size: 45px;
    font-weight: 700;
    color: var(--primaryfont);
    margin-left: 15px;
}

.nav-items-container ul {
    display: flex;
    align-items: center;
}

.nav-items-container li {
    list-style: none;
}

.nav-items-container li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primaryfont);
}

.nav-items {
    display: flex;
}

.nav-items li {
    margin-right: 32px;
}

.icon-container {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.icon-container li {
    display: flex;
    padding: 10px;
    align-items: center;
}

.icon img {
    width: 24px;
    margin-left: 10px;
}

/* navber part end */

/* banner part start */
.banner-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.banner-bg {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-subtitle {
    color: var(--primaryfont);
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.banner-title {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-item {
    padding-top: 24px;
}

.banner-item p {
    color: var(--primaryfont);
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 17px;
}

.banner-btn {
    gap: 10px;
    display: inline-flex;
    align-items: flex-start;
}

button {
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    border: 0;
}

.primary-btn {
    background-color: var(--primary);
    padding: 21px 40px;
    border-radius: 48px;
}

.sceondary-btn {
    background-color: var(--btncolor);
    padding: 21px 40px;
    border-radius: 48px;
}

.banner-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* banner part end */
/* we gamer part start */
.we-gamer-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.we-gamer-layout {
    display: flex;
    max-width: 100%;
    flex-shrink: 0;
    padding: 0px 240px;
}

.we-gamer-img-container {
    padding: 55px 240px;
}

.gamer-img {
    width: 868px;
    height: 489px;
    flex-shrink: 0;
}

.we-gamer-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.we-gamer-content {
    text-align: end;
}

.we-gamer-title {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-gamer-description {
    color: var(--primaryfont);
    font-size: 1.3em;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 0 32px;
}

.purpose {
    color: var(--primaryfont);
    font-size: 1.5em;
    font-weight: 500;
    line-height: 45px;
}

.unleash {
    color: var(--primaryfont);
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}

/* we gamer part end */

/* online games part start */
.online-games-container {}

.online-games-layout {
    margin-top: 120px;
}

.online-games-title {
    text-align: center;
    color: var(--primaryfont);
    font-size: 3rem;
    font-weight: 700;
}

.online-games-des {
    color: var(--primaryfont);
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 30px;
}

.grid-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 48px 0px 0 240px;
}

.games-card {
    width: 342px;
    height: 500px;
}

.card {
    width: 342px;
    height: 400px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-overflow {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), rgba(12, 7, 7, 0.37) 50% / cover no-repeat;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.card:hover .card-overflow {
    right: 0;
}

.watchicon {
    width: 48px;
    height: 48px;
    padding-left: 35px;
}

.watch {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary);
}

.card-title {
    color: var(--primaryfont);
    font-size: 1.3em;
    font-weight: 500;
    line-height: 30px;
}

/* online games part end */
/* play instantly part start */
.play-instantly-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instantly-content {
    width: 370px;
    height: auto;
    padding-right: 120px;
}

.instantly-title {
    color: var(--primaryfont);
    font-size: 3rem;
    text-align: right;
    font-weight: 700;
    line-height: 60px;
}

.instantly-description {
    color: var(--primaryfont);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    text-align: right;
}

.instantly-img {
    width: 635px;
    height: 650px;
    border-radius: 8px;
    position: relative;
}

.ins-main-img {
    height: 100%;
    width: 100%;
}

.ins-sec-img {
    width: 319px;
    height: 365px;
    top: 360px;
    right: 390px;
    border-radius: 8px;
    position: absolute;

}

/* play instantly part end */

.games-items-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding: 20px 470px;
}

.games-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 80px;
    margin-bottom: 20px;
    padding-left: 27px;
    border-radius: 50px;
}

.items-title {
    color: var(--primaryfont);
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 16px;
}

.games-items:hover {
    border: 1px solid var(--primary);
}

footer{
    background-color: #0B0223;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    margin-top: 120px;
    display: flex;
    margin-right: 120px;
}
.footer-logo-content{
    font-size: 45px;
    font-weight: 700;
}
.footer-button{
    display: flex;
    justify-content: center;
    align-content: center;
}
.footer-button-title{
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 60px;
}